/**
 * VimWiki Custom Style
 *
 * @author macji <xiaomacji#gmail.com>
 * @link   http://www.xiaohu.me/
 */

/*html {
	background: url(images/header.jpg) no-repeat center top;
}*/
body {
    font-family: "Lucida Grande",Helvetica,Arial,sans-serif;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0em 4em;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Berylium", "Book Antiqua";
    margin-top: 1.5em; 
    margin-bottom: 0.5em;	
}

h1 {
    border-bottom: 2px solid #D6E0E5;
    font-size: 2.0em;
    color: #000;
    line-height: 1.5em;
}

h2 {font-size: 1.6em; color: #3C4C6C;}
h3 {font-size: 1.3em; color: #555577;}
h4 {font-size: 1.2em; color: #222244;}
h5 {font-size: 1.1em; color: #222244;}
h6 {font-size: 1.0em; color: #222244;}
h2:target, h3:target, h4:target, h5:target, h6:target { border-bottom: 2px solid #6B90DA; overflow: auto; }

a {
    text-decoration: none;
    color: #1A397C;
    border-bottom: 1px dotted #224;
}

a:hover {
    text-decoration: none;
}
a[href^="http://"], a[href^="https://"] {
    background: url(images/external.png) no-repeat 100% 4px;
    padding-right: 16px;
}


p, pre, blockquote, table, ul, ol, dl {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul ul, ul ol, ol ol, ol ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li {
    margin: 0.3em auto;
}

ul {
    margin-left: 2em; padding-left: 0.5em;
}

dt {
    font-weight: bold;
    margin: .5em 0;
}

dt {
    text-indent: 1em;
}

p {
    text-indent: 2em;
}

img {
    border: none;
}

pre {
    padding: 8px;
    border: 1px solid #C7CFD5;
    border-left-width: 5px;
    color:#666;
    font-family:Courier,Consolas,monospace;
    background-color: #F5F9FD;
    overflow: auto;
}
code {
	padding: 2px .5em;
	border-bottom: 1px solid #C7CFD5;
	background-color: #F5F9FD;
}
blockquote {
background: url(images/blockquote.png) no-repeat 10px 6px;
color: #666666;
font-style:italic;
margin-left: 2em;
padding: 8px 8px 8px 35px;
overflow: auto;
}

th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #f0f0f0;}
hr {border: none; border-top: 1px solid #ccc; width: 100%;}
del {text-decoration: line-through; color: #777777;}
.todo {font-weight: bold; background-color: #f0ece8; color: #a03020;}
.justleft {text-align: left;}
.justright {text-align: right;}
.justcenter {text-align: center;}

.crumbs {
	float: right;
}
.crumbs a {
	margin-right: .5em;
	/*padding-right: 8px;
	background: url(images/crumb.gif) no-repeat 100% 7px;*/
}

.toc {
	position: relative;
	z-index: 2;
    float: right;
    max-width: 260px;
    min-width: 220px;
    border: 1px solid #D6E0E5;
    margin: 0 0 1em 1em;
    padding: 1em;
    background-color: #F4F8FB;
}
.toc .switch { float: right; }
.toc > ul {
    margin: 0;
}
.toc > ul > li {
    list-style: none;
}
#footer { margin: 50px 0 40px; padding-top: 10px; border-top: 1px solid #ddd; text-align: left; font-size: 90%; }
#footer abbr { float: right; cursor: help; text-indent: 0; font-size: 85%; }
